# Section 1: Nested Lists & Access

1. Print Ravi’s second mark.
2. Calculate average mark for each student.
3. Print the name of students who scored above 80 in all subjects.
4. Create a new list of [name, average] .

In [6]:
students = [
["Ravi", [85, 72, 90]],
["Sneha", [95, 88, 92]],
["Kabir", [65, 70, 60]],
["Anita", [75, 80, 78]]
]
print("Ravi's second mark:", students[0][1][1])
#Calculate average mark for each student.
for student in students:
    name = student[0]
    marks = student[1]
    average = sum(marks) / len(marks)
    print(f"{name}'s average mark: {average}")

Ravi's second mark: 72
Ravi's average mark: 82.33333333333333
Sneha's average mark: 91.66666666666667
Kabir's average mark: 65.0
Anita's average mark: 77.66666666666667

In [7]:
#Print the name of students who scored above 80 in all subjects.
print("Students who scored above 80 in all subjects:")
for student in students:
    name, marks = student
    if all(mark > 80 for mark in marks):
        print(name)

Students who scored above 80 in all subjects:
Sneha

In [8]:
#Create a new list of [name, average] . Section 2: Dictionary of Lists
avg_list = []
for student in students:
    name = student[0]
    marks = student[1]
    average = sum(marks) / len(marks)
    avg_list.append([name, average])

print("List of [name, average]:")
print(avg_list)

List of [name, average]:
[['Ravi', 82.33333333333333], ['Sneha', 91.66666666666667], ['Kabir', 65.0], ['Anita', 77.66666666666667]]

#Section 2: Dictionary of Lists

In [12]:
# Given data
data = {
    "products": ["Mobile", "Laptop", "Tablet", "Camera"],
    "prices": [12000, 55000, 18000, 25000],
    "ratings": [4.5, 4.7, 4.0, 4.2]
}

# Task 1: Create a list of dictionaries for each product
product_list = []
for i in range(len(data["products"])):
    product = {
        "name": data["products"][i],
        "price": data["prices"][i],
        "rating": data["ratings"][i]
    }
    product_list.append(product)

print("List of Product Dictionaries:")
for p in product_list:
    print(p)

List of Product Dictionaries:
{'name': 'Mobile', 'price': 12000, 'rating': 4.5}
{'name': 'Laptop', 'price': 55000, 'rating': 4.7}
{'name': 'Tablet', 'price': 18000, 'rating': 4.0}
{'name': 'Camera', 'price': 25000, 'rating': 4.2}

In [10]:
# Task 2: Filter and print products with price > 20,000 and rating >= 4.5
print("\nFiltered Products (price > 20000 and rating >= 4.5):")
filtered_products = [
    p for p in product_list if p["price"] > 20000 and p["rating"] >= 4.5
]
for p in filtered_products:
    print(p)

Filtered Products (price > 20000 and rating >= 4.5):
{'name': 'Laptop', 'price': 55000, 'rating': 4.7}

In [11]:
# Task 3: Sort the product list by rating (descending)
sorted_by_rating = sorted(product_list, key=lambda x: x["rating"], reverse=True)

print("\nProducts Sorted by Rating (Descending):")
for p in sorted_by_rating:
    print(p)

Products Sorted by Rating (Descending):
{'name': 'Laptop', 'price': 55000, 'rating': 4.7}
{'name': 'Mobile', 'price': 12000, 'rating': 4.5}
{'name': 'Camera', 'price': 25000, 'rating': 4.2}
{'name': 'Tablet', 'price': 18000, 'rating': 4.0}

#Section 3: Frequency Dictionary + Set Operations

Given a sentence:
text = "ai is the future and ai will change everything in the ai world"
Tasks:
1. Count frequency of each word using a dictionary

2. Print only the words that appear more than once
3. Convert words into a set and print sorted unique words
4. Find common words between:
set1 = set(text.split())
set2 = {"ai", "ml", "data", "future"}

In [13]:
# Given sentence
text = "ai is the future and ai will change everything in the ai world"

# Task 1: Count frequency of each word using a dictionary
word_list = text.split()
freq_dict = {}

for word in word_list:
    freq_dict[word] = freq_dict.get(word, 0) + 1

print("Word Frequency Dictionary:")
print(freq_dict)

# Task 2: Print only the words that appear more than once
print("\nWords that appear more than once:")
for word, count in freq_dict.items():
    if count > 1:
        print(word)

# Task 3: Convert words into a set and print sorted unique words
unique_words = set(word_list)
sorted_unique = sorted(unique_words)

print("\nSorted Unique Words:")
print(sorted_unique)

# Task 4: Find common words between set1 and set2
set1 = set(word_list)
set2 = {"ai", "ml", "data", "future"}
common_words = set1 & set2  # or: set1.intersection(set2)

print("\nCommon Words between set1 and set2:")
print(common_words)

Word Frequency Dictionary:
{'ai': 3, 'is': 1, 'the': 2, 'future': 1, 'and': 1, 'will': 1, 'change': 1, 'everything': 1, 'in': 1, 'world': 1}

Words that appear more than once:
ai
the

Sorted Unique Words:
['ai', 'and', 'change', 'everything', 'future', 'in', 'is', 'the', 'will', 'world']

Common Words between set1 and set2:
{'future', 'ai'}

# Section 4: Dictionary Comprehension + Conditional Logic

Tasks:
1. Create a new dictionary with 10% bonus added to each sale
2. Filter and return only those with sales >
50,000

3. Label each person as 'High' , 'Medium' , or 'Low' based on:
75,000: High
40,000: Medium
Else: Low

In [14]:
# Given dictionary
sales = {
    'Amit': 70000,
    'Sneha': 45000,
    'Ravi': 30000,
    'Anita': 90000,
    'Kabir': 20000
}

# Task 1: Create a new dictionary with 10% bonus added to each sale
bonus_sales = {name: sale + (0.10 * sale) for name, sale in sales.items()}

print("Sales with 10% Bonus:")
print(bonus_sales)

Sales with 10% Bonus:
{'Amit': 77000.0, 'Sneha': 49500.0, 'Ravi': 33000.0, 'Anita': 99000.0, 'Kabir': 22000.0}

In [15]:

# Task 2: Filter and return only those with sales > 50,000
high_sales = {name: sale for name, sale in sales.items() if sale > 50000}

print("\nSales > 50,000:")
print(high_sales)

Sales > 50,000:
{'Amit': 70000, 'Anita': 90000}

In [ ]:
# Task 3: Label each person as 'High', 'Medium', or 'Low' based on sale amount
labels = {
    name: (
        'High' if sale >= 75000
        else 'Medium' if sale >= 40000
        else 'Low'
    )
    for name, sale in sales.items()
}

print("\nSales Labels:")
print(labels)

# Section 5: Tuples, Sets, and Zipping

Tasks:
1. Convert both tuples to a dictionary using zip()
2. Find min and max marks
3. Create a set from marks and add a new value
4. Merge two sets and show only unique elements

In [16]:
# Given data
names = ("Ravi", "Sneha", "Kabir")
marks = (88, 92, 76)

# Task 1: Convert both tuples to a dictionary using zip()
marks_dict = dict(zip(names, marks))
print("Dictionary from Tuples:")
print(marks_dict)

Dictionary from Tuples:
{'Ravi': 88, 'Sneha': 92, 'Kabir': 76}

In [17]:
# Task 2: Find min and max marks
min_mark = min(marks)
max_mark = max(marks)
print("\nMinimum Mark:", min_mark)
print("Maximum Mark:", max_mark)

Minimum Mark: 76
Maximum Mark: 92

In [18]:
# Task 3: Create a set from marks and add a new value
marks_set = set(marks)
marks_set.add(85)  # Adding a new value
print("\nSet after adding a new value:")
print(marks_set)

Set after adding a new value:
{88, 92, 85, 76}

In [19]:
# Task 4: Merge two sets and show only unique elements
set1 = {88, 90, 92}
set2 = {92, 94, 96}
merged_unique = set1.union(set2)  # or set1 | set2
print("\nMerged Set with Unique Elements:")
print(merged_unique)

Merged Set with Unique Elements:
{96, 88, 90, 92, 94}

#Bonus Challenge
Tasks:
1. Add a new employee "E104"
2. Increase salary by 10% for Engineering department only
3. Find the department with the highest average salary

In [20]:
# Given nested dictionary
employees = {
    "E101": {"name": "Ravi", "dept": "Sales", "salary": 50000},
    "E102": {"name": "Sneha", "dept": "Engineering", "salary": 80000},
    "E103": {"name": "Kabir", "dept": "HR", "salary": 45000}
}

# Task 1: Add a new employee "E104"
employees["E104"] = {"name": "Anita", "dept": "Engineering", "salary": 90000}

print("After Adding New Employee E104:")
for eid, info in employees.items():
    print(eid, info)

After Adding New Employee E104:
E101 {'name': 'Ravi', 'dept': 'Sales', 'salary': 50000}
E102 {'name': 'Sneha', 'dept': 'Engineering', 'salary': 80000}
E103 {'name': 'Kabir', 'dept': 'HR', 'salary': 45000}
E104 {'name': 'Anita', 'dept': 'Engineering', 'salary': 90000}

In [21]:
# Task 2: Increase salary by 10% for Engineering department only
for emp in employees.values():
    if emp["dept"] == "Engineering":
        emp["salary"] = int(emp["salary"] * 1.10)

print("\nAfter 10% Salary Increase for Engineering Dept:")
for eid, info in employees.items():
    print(eid, info)

After 10% Salary Increase for Engineering Dept:
E101 {'name': 'Ravi', 'dept': 'Sales', 'salary': 50000}
E102 {'name': 'Sneha', 'dept': 'Engineering', 'salary': 88000}
E103 {'name': 'Kabir', 'dept': 'HR', 'salary': 45000}
E104 {'name': 'Anita', 'dept': 'Engineering', 'salary': 99000}

In [22]:

# Task 3: Find the department with the highest average salary
from collections import defaultdict

dept_salaries = defaultdict(list)

# Group salaries by department
for emp in employees.values():
    dept_salaries[emp["dept"]].append(emp["salary"])

# Compute average salaries
avg_salaries = {dept: sum(salaries) / len(salaries) for dept, salaries in dept_salaries.items()}

# Find department with highest average salary
highest_avg_dept = max(avg_salaries, key=avg_salaries.get)

print("\nDepartment with Highest Average Salary:")
print(highest_avg_dept, "→", avg_salaries[highest_avg_dept])

Department with Highest Average Salary:
Engineering → 93500.0